:root {
    /* Primary */
    --orange: hsl(25, 97%, 53%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);;
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --mediumDarkBlue: hsl(212, 19%, 18%);
    --darkBlue: hsl(213, 19%, 13%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background: var(--veryDarkBlue);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: var(--darkBlue);
    border-radius: 15px;
    padding: 1.5rem 1.5rem 2rem;
    width: 327px;
}

/* Section Rating */
.section-rating {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.section-rating span {
    background: var(--mediumDarkBlue);
    padding: .75rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-rating span img {
    width: 13px;
    height: 13px;
}

h1 {
    font-weight: 400;
}

p {
    font-size: 14px;
    line-height: 1.3rem;
    color: var(--lightGrey);
}

.section-rating > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-rating > div a {
    background: var(--mediumDarkBlue);
    border-radius: 50px;
    border-style: none;
    padding-top: 5px;
    margin-block: .5rem;
    height: 40px;
    width: 40px;
    color: var(--mediumGrey);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-rating > div a:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    transition: .15s ease-in-out;
}

button {
    border-radius: 50px;
    font-weight: 700;
    border-style: none;
    background-color: var(--orange);
    color: var(--white);
    width: 100%;
    padding: .9rem;
    letter-spacing: 2px;
}

button:hover {
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
    transition: .15s ease-in-out;
}

/* Section Thankyou */
.section-thankyou {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-thankyou img {
    width: 50%;
    margin-inline: auto;
    margin-top: .5rem;
}

.target {
    color: var(--orange);
    border-radius: 50px;
    width: 60%;
    margin: .5rem auto;
    background-color: var(--mediumDarkBlue);
    padding: .45rem .25rem .25rem;
    opacity: .9;
}

.hidden {
    display: none;
}

.pressed {
    color: var(--white) !important;
    background-color: var(--lightGrey) !important;
}

@media screen and (min-width:700px) {
    main {
        padding: 2rem 1.75rem 2rem 1.75rem;
        width: 360px;
    }
}